In [2]:
import pandas as pd
import yfinance as yf

In [5]:
mtum = yf.Ticker("MTUM")

In [12]:
mtum.history()

              Open    High     Low   Close  Volume  Dividends  Stock Splits
Date
2019-12-05  122.90  122.90  122.30  122.90  466700      0.000             0
2019-12-06  123.55  123.70  123.11  123.20  662000      0.000             0
2019-12-09  123.21  123.31  122.77  122.81  339800      0.000             0
2019-12-10  122.88  123.00  122.40  122.61  318000      0.000             0
2019-12-11  122.93  123.00  122.44  122.90  307900      0.000             0
2019-12-12  122.97  123.64  122.52  123.01  812200      0.000             0
2019-12-13  122.76  123.60  122.61  123.55  762300      0.000             0
2019-12-16  124.16  124.38  123.88  124.21  461200      0.505             0
2019-12-17  124.43  124.60  123.98  123.98  698100      0.000             0
2019-12-18  124.25  124.49  123.93  123.93  275400      0.000             0
2019-12-19  123.91  124.70  123.91  124.69  415200      0.000             0
2019-12-20  125.02  125.76  125.02  125.60  390600      0.000             0
2019-12-23  125.87  126.00  125.07  125.11  635900      0.000             0
2019-12-24  125.20  125.38  124.91  125.31  235100      0.000             0
2019-12-26  125.38  125.72  125.36  125.72  246000      0.000             0
2019-12-27  125.90  126.00  125.55  125.91  245300      0.000             0
2019-12-30  125.81  125.91  124.92  125.29  258800      0.000             0
2019-12-31  125.01  125.69  124.91  125.56  541200      0.000             0
2020-01-02  126.20  126.37  125.33  125.98  777600      0.000             0
2020-01-03  124.98  126.33  124.87  125.96  661700      0.000             0

In [15]:
from pandas_datareader import data as pdr
data = pdr.get_data_yahoo("MTUM", start="2017-01-01", end="2020-01-01")
data.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2017-01-03  76.459999  75.730003  76.129997  76.080002  284100.0  73.194923
2017-01-04  76.660004  76.239998  76.239998  76.529999  215400.0  73.627861
2017-01-05  76.820000  76.389999  76.540001  76.779999  393500.0  73.868370
2017-01-06  77.370003  76.599998  76.769997  77.220001  248900.0  74.291679
2017-01-09  77.360001  77.080002  77.250000  77.190002  158100.0  74.262848

In [16]:
len(data)

755

In [3]:
from pandas_datareader import data as pdr
import yfinance as yf
import datetime

yf.pdr_override() 

stocks = ["MTUM"]
start = datetime.datetime(2017,1,1)
end = datetime.datetime(2020,1,1)

f = pdr.get_data_yahoo(stocks, start=start, end=end)

[*********************100%***********************]  1 of 1 completed

In [4]:
len(f)

754

In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
from pandas_datareader import data as pdr
import datetime
import matplotlib.pyplot as plt

In [2]:
#Cargamos ambos files y los unimos, usando como indices en ambos las fechas.
def load_and_join():
    mtum = yf.Ticker("MTUM")
    stocks = ["MTUM"]
    start = datetime.datetime(2000,11,30)
    end = datetime.datetime(2019,11,30)
    
    yf.pdr_override()
    
    df_etf = pdr.get_data_yahoo(stocks, start=start, end=end)
    
    df = pd.read_excel('https://images.aqr.com/-/media/AQR/Documents/Insights/Data-Sets/Century-of-Factor-Premia-Monthly.xlsx',
                      header =18, nrows = 1220)
    
    df['Date'] =  pd.to_datetime(df['Date'])
    
    df = df.set_index('Date')
    df = df[['Equity indices Momentum','Equity indices Momentum','Equity indices Carry','Equity indices Defensive']]
    
    df_final = df_etf.merge(df, how='left',left_index=True,right_index=True)
    
    return df_final

#Extendemos los datos mensuales a los registros diarios. (Ejemplo: todos los datos de enero, tomaran el valor monthly del 31/01)
def fill_joined_missing_fields(df):
    for i in range(1,len(df)+1):
        if np.isnan(df.iloc[-i,9]):
                df.iloc[-i,6] = df.iloc[-i+1,6]
                df.iloc[-i,7] = df.iloc[-i+1,7]
                df.iloc[-i,8] = df.iloc[-i+1,8]
                df.iloc[-i,9] = df.iloc[-i+1,9]
         

#Introducimos labels al dataset, calculando medias 50 y 200 dias.
'''(REVEER!)'''    
def labeling_df(df):
    df['50_days_average'] = df.iloc[:,3].rolling(window=50).mean()
    df['200_days_average'] = df.iloc[:,3].rolling(window=200).mean()
    df.loc[df['50_days_average'] >= df['200_days_average'], 'Buy/Sell'] = -1 #Si la media de corto plazo supera a la de largo, es posicion de sell
    df.loc[df['50_days_average'] < df['200_days_average'], 'Buy/Sell'] = 1 #Si la media de corto plazo esta por debajo de la de largo, es posicion de buy
    return df
 
#Visualizacion de la evolucion de precios y las medias.
def visualize_close_50_200(df):
    plt.plot(df['Close'])
    plt.plot(df['50_days_average'])
    plt.plot(df['200_days_average'])
    plt.legend(['Close','50_days_avg','200_days_avg'])
    plt.title('Evolution of MTUM ETF over time')
    plt.show()

#Consigue los weights para la diferenciacion!
def getWeights_FFD(d,size):
    w=[1.]
    for k in range(1,size):
        w_=-w[-1]/k*(d-k+1)
        w.append(w_)
    w=np.array(w[::-1]).reshape(-1,1)
    return w

#Funcion aux para pesos de FFD
def plotWeights(dRange,nPlots,size):
    w=pd.DataFrame()
    for d in np.linspace(dRange[0],dRange[1],nPlots):
        w_=getWeights_FFD(d,size=size)
        w_=pd.DataFrame(w_,index=range(w_.shape[0])[::-1],columns=[d])
        w=w.join(w_,how='outer')
    ax=w.plot()
    ax.legend(loc='upper right');plt.show()
    return

#Diferenciamos la serie! d es el orden de diferenciacion. "Thres" (threshold) maneja la acceptabilidad de las exclusiones. No modificar.
def fracDiff(series,d,thres=0.01):

    w=getWeights_FFD(d,series.shape[0])

    w_=np.cumsum(abs(w))
    w_/=w_[-1]
    skip=w_[w_>thres].shape[0]

    df={}
    for name in series.columns:
        seriesF,df_=series[[name]].fillna(method='ffill').dropna(),pd.Series()
        for iloc in range(skip,seriesF.shape[0]):
            loc=seriesF.index[iloc]

            df_[loc]=np.dot(w[-(iloc+1):,:].T,seriesF.loc[:loc])[0,0]
        df[name]=df_.copy(deep=True)
    df=pd.concat(df,axis=1)
    return df

#Funcion para buscar el mejor d
def plotMinFFD(df):
    from statsmodels.tsa.stattools import adfuller
    import numpy.ma as ma
    out=pd.DataFrame(columns=['adfStat','pVal','lags','nObs','95% conf','corr'])
    for d in np.linspace(0,1,21):
        df1=np.log(df[['Close']]).resample('1D').last() # Pasar a observaciones diarias
        df2=fracDiff(df1,d,thres=.01)
        corr = ma.corrcoef(ma.masked_invalid(df1.loc[df2.index,'Close']), ma.masked_invalid(df2['Close']))[0,1]
        df2=adfuller(df2['Close'],maxlag=1,regression='c',autolag=None)
        out.loc[d]=list(df2[:4])+[df2[4]['5%']]+[corr] # Aportar valores criticos
    out[['adfStat','corr']].plot(secondary_y='adfStat')
    plt.axhline(out['95% conf'].mean(),linewidth=1,color='r',linestyle='dotted')
    plt.show()
    return out

#Obtiene los factores de tiempo para restar importancia a las observaciones.
def getTimeDecay(tW,clfLastW):
    clfW=tW.sort_index().cumsum()
    if clfLastW>=0:slope=(1.-clfLastW)/clfW.iloc[-1]
    else:slope=1./((clfLastW+1)*clfW.iloc[-1])
    const=1.-slope*clfW.iloc[-1]
    clfW=const+slope*clfW
    clfW[clfW<0]=0
    # print(const,slope)
    return clfW

In [12]:
df = load_and_join()

[*********************100%***********************]  1 of 1 completed

In [14]:
len(df)

1668

In [15]:
df.head(50)

,Open,High,Low,Close,Adj Close,Volume,Equity indices Momentum,Equity indices Momentum,Equity indices Carry,Equity indices Defensive
Date,,,,,,,,,,
2013-04-18,50.919998,50.919998,50.919998,50.919998,46.707516,400,NaN,NaN,NaN,NaN
2013-04-19,50.919998,50.919998,50.919998,50.919998,46.707516,0,NaN,NaN,NaN,NaN
2013-04-22,50.919998,50.919998,50.919998,50.919998,46.707516,0,NaN,NaN,NaN,NaN
2013-04-23,52.220001,52.220001,52.220001,52.220001,47.899956,600,NaN,NaN,NaN,NaN
2013-04-24,51.700001,51.700001,51.560001,51.560001,47.294567,1100,NaN,NaN,NaN,NaN
2013-04-25,51.810001,51.810001,51.810001,51.810001,47.523891,400,NaN,NaN,NaN,NaN
2013-04-26,51.770000,51.770000,51.770000,51.770000,47.487190,100,NaN,NaN,NaN,NaN
2013-04-29,51.849998,52.200001,51.849998,52.070000,47.762371,4800,NaN,NaN,NaN,NaN
2013-04-30,51.619999,51.930000,51.619999,51.840000,47.551403,1400,-0.011301,-0.011301,0.006270,-0.027077
2013-05-01,51.799999,51.799999,51.799999,51.799999,47.514709,100,NaN,NaN,NaN,NaN
2013-05-02,51.820000,52.040001,51.820000,52.029999,47.725681,2500,NaN,NaN,NaN,NaN
2013-05-03,52.650002,52.730000,52.599998,52.619999,48.266872,1000,NaN,NaN,NaN,NaN
2013-05-06,53.060001,53.060001,52.500000,52.540001,48.193493,19500,NaN,NaN,NaN,NaN
2013-05-07,52.590000,52.590000,52.549999,52.560001,48.211845,1500,NaN,NaN,NaN,NaN
2013-05-08,52.740002,52.820000,52.740002,52.820000,48.450325,1600,NaN,NaN,NaN,NaN
2013-05-09,52.860001,52.910000,52.770000,52.830002,48.459499,4700,NaN,NaN,NaN,NaN
2013-05-10,53.490002,53.490002,52.950001,52.950001,48.569580,700,NaN,NaN,NaN,NaN
2013-05-13,53.189999,53.200001,53.090000,53.090000,48.697990,4200,NaN,NaN,NaN,NaN
2013-05-14,53.320000,53.560001,53.320000,53.549999,49.119946,2200,NaN,NaN,NaN,NaN
2013-05-15,53.740002,54.029999,53.709999,53.730000,49.285038,3400,NaN,NaN,NaN,NaN
2013-05-16,53.580002,53.619999,53.500000,53.500000,49.074074,5700,NaN,NaN,NaN,NaN
2013-05-17,53.599998,53.599998,53.369999,53.389999,48.973167,2800,NaN,NaN,NaN,NaN
2013-05-20,53.400002,53.400002,53.299999,53.320000,48.908958,4300,NaN,NaN,NaN,NaN
2013-05-21,53.540001,53.549999,53.540001,53.549999,49.119946,600,NaN,NaN,NaN,NaN
2013-05-22,53.880001,53.880001,53.259998,53.259998,48.853920,1900,NaN,NaN,NaN,NaN
2013-05-23,52.669998,53.139999,52.669998,53.139999,48.743851,700,NaN,NaN,NaN,NaN
2013-05-24,53.180000,53.180000,53.130001,53.169998,48.771378,1200,NaN,NaN,NaN,NaN
2013-05-28,53.810001,53.860001,53.259998,53.410000,48.991516,4000,NaN,NaN,NaN,NaN
2013-05-29,53.000000,53.000000,52.619999,52.689999,48.331089,2500,NaN,NaN,NaN,NaN
2013-05-30,52.889999,52.919998,52.730000,52.730000,48.367767,13000,NaN,NaN,NaN,NaN
2013-05-31,52.529999,52.540001,52.000000,52.000000,47.698154,2400,-0.020239,-0.020239,0.004034,-0.032439
2013-06-03,51.500000,51.709999,51.439999,51.709999,47.432152,2100,NaN,NaN,NaN,NaN
2013-06-04,51.639999,51.680000,51.279999,51.680000,47.404648,8400,NaN,NaN,NaN,NaN
2013-06-05,51.259998,51.270000,50.810001,50.970001,46.753368,5400,NaN,NaN,NaN,NaN
2013-06-06,50.660000,51.349998,50.660000,51.349998,47.101944,9900,NaN,NaN,NaN,NaN
2013-06-07,52.009998,52.209999,51.910000,52.209999,47.890789,1300,NaN,NaN,NaN,NaN
2013-06-10,53.000000,53.000000,52.000000,52.110001,47.799061,8500,NaN,NaN,NaN,NaN
2013-06-11,51.590000,52.130001,51.590000,51.869999,47.578922,14500,NaN,NaN,NaN,NaN
2013-06-12,52.139999,52.139999,51.299999,51.330002,47.083591,3400,NaN,NaN,NaN,NaN
2013-06-13,51.020000,51.980000,51.020000,51.980000,47.679813,2100,NaN,NaN,NaN,NaN
2013-06-14,52.130001,52.130001,52.029999,52.029999,47.725681,700,NaN,NaN,NaN,NaN
2013-06-17,52.500000,52.500000,52.150002,52.150002,47.835758,600,NaN,NaN,NaN,NaN
2013-06-18,52.419998,52.419998,52.369999,52.369999,48.037560,1000,NaN,NaN,NaN,NaN
2013-06-19,52.500000,52.500000,51.869999,51.869999,47.578922,1100,NaN,NaN,NaN,NaN
2013-06-20,51.099998,51.099998,50.189999,50.189999,46.037907,2300,NaN,NaN,NaN,NaN
2013-06-21,50.619999,50.619999,50.049999,50.439999,46.267216,1600,NaN,NaN,NaN,NaN
2013-06-24,50.070000,50.119999,49.709999,50.119999,45.973698,600,NaN,NaN,NaN,NaN
2013-06-25,50.520000,50.570000,50.509998,50.570000,46.386475,14600,NaN,NaN,NaN,NaN
2013-06-26,51.490002,51.490002,50.980000,51.020000,46.799236,1400,NaN,NaN,NaN,NaN
2013-06-27,51.450001,51.500000,51.369999,51.369999,47.302933,2500,NaN,NaN,NaN,NaN

In [6]:
fill_joined_missing_fields(df)

In [8]:
df.head(30)

,Open,High,Low,Close,Adj Close,Volume,Equity indices Momentum,Equity indices Momentum,Equity indices Carry,Equity indices Defensive
Date,,,,,,,,,,
2013-04-18,50.919998,50.919998,50.919998,50.919998,46.707516,400,-0.011301,-0.011301,0.006270,-0.027077
2013-04-19,50.919998,50.919998,50.919998,50.919998,46.707516,0,-0.011301,-0.011301,0.006270,-0.027077
2013-04-22,50.919998,50.919998,50.919998,50.919998,46.707516,0,-0.011301,-0.011301,0.006270,-0.027077
2013-04-23,52.220001,52.220001,52.220001,52.220001,47.899956,600,-0.011301,-0.011301,0.006270,-0.027077
2013-04-24,51.700001,51.700001,51.560001,51.560001,47.294567,1100,-0.011301,-0.011301,0.006270,-0.027077
2013-04-25,51.810001,51.810001,51.810001,51.810001,47.523891,400,-0.011301,-0.011301,0.006270,-0.027077
2013-04-26,51.770000,51.770000,51.770000,51.770000,47.487190,100,-0.011301,-0.011301,0.006270,-0.027077
2013-04-29,51.849998,52.200001,51.849998,52.070000,47.762371,4800,-0.011301,-0.011301,0.006270,-0.027077
2013-04-30,51.619999,51.930000,51.619999,51.840000,47.551403,1400,-0.011301,-0.011301,0.006270,-0.027077
2013-05-01,51.799999,51.799999,51.799999,51.799999,47.514709,100,-0.020239,-0.020239,0.004034,-0.032439
2013-05-02,51.820000,52.040001,51.820000,52.029999,47.725681,2500,-0.020239,-0.020239,0.004034,-0.032439
2013-05-03,52.650002,52.730000,52.599998,52.619999,48.266872,1000,-0.020239,-0.020239,0.004034,-0.032439
2013-05-06,53.060001,53.060001,52.500000,52.540001,48.193493,19500,-0.020239,-0.020239,0.004034,-0.032439
2013-05-07,52.590000,52.590000,52.549999,52.560001,48.211845,1500,-0.020239,-0.020239,0.004034,-0.032439
2013-05-08,52.740002,52.820000,52.740002,52.820000,48.450325,1600,-0.020239,-0.020239,0.004034,-0.032439
2013-05-09,52.860001,52.910000,52.770000,52.830002,48.459499,4700,-0.020239,-0.020239,0.004034,-0.032439
2013-05-10,53.490002,53.490002,52.950001,52.950001,48.569580,700,-0.020239,-0.020239,0.004034,-0.032439
2013-05-13,53.189999,53.200001,53.090000,53.090000,48.697990,4200,-0.020239,-0.020239,0.004034,-0.032439
2013-05-14,53.320000,53.560001,53.320000,53.549999,49.119946,2200,-0.020239,-0.020239,0.004034,-0.032439
2013-05-15,53.740002,54.029999,53.709999,53.730000,49.285038,3400,-0.020239,-0.020239,0.004034,-0.032439
2013-05-16,53.580002,53.619999,53.500000,53.500000,49.074074,5700,-0.020239,-0.020239,0.004034,-0.032439
2013-05-17,53.599998,53.599998,53.369999,53.389999,48.973167,2800,-0.020239,-0.020239,0.004034,-0.032439
2013-05-20,53.400002,53.400002,53.299999,53.320000,48.908958,4300,-0.020239,-0.020239,0.004034,-0.032439
2013-05-21,53.540001,53.549999,53.540001,53.549999,49.119946,600,-0.020239,-0.020239,0.004034,-0.032439
2013-05-22,53.880001,53.880001,53.259998,53.259998,48.853920,1900,-0.020239,-0.020239,0.004034,-0.032439
2013-05-23,52.669998,53.139999,52.669998,53.139999,48.743851,700,-0.020239,-0.020239,0.004034,-0.032439
2013-05-24,53.180000,53.180000,53.130001,53.169998,48.771378,1200,-0.020239,-0.020239,0.004034,-0.032439
2013-05-28,53.810001,53.860001,53.259998,53.410000,48.991516,4000,-0.020239,-0.020239,0.004034,-0.032439
2013-05-29,53.000000,53.000000,52.619999,52.689999,48.331089,2500,-0.020239,-0.020239,0.004034,-0.032439
2013-05-30,52.889999,52.919998,52.730000,52.730000,48.367767,13000,-0.020239,-0.020239,0.004034,-0.032439